* {
    margin: 0;
    padding: 0;
    /* font-family: 'Inter'; */
    /* font-style: normal; */
}

.navbar.navbar-custom {
    background: #F7F7F7 !important;
    min-height: 103px;
    margin-bottom: 0;
}

.navbar.navbar-custom .container {
    min-height: 103px;
}

.navbar.navbar-custom .container .navbar-header {
    min-height: 103px;
}

.navbar.navbar-custom .container ul li a {
    min-height: 103px;
    text-transform: uppercase;
    color: #232428;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.navbar.navbar-custom .container ul li a:hover {
    color: #01B8F2;
    background-color: #F7F7F7 !important;
    border-bottom: 4px solid #01B8F2;
}

.banner {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 200px;
    position: relative;
}

.banner-title1 {
    font-size: 24px;
    color: #00C3FF;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 700;
}

.banner-title2 {
    font-size: 31px;
    color: #00C3FF;
    text-transform: uppercase;
    font-weight: 700;
}

.banner-description {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 43px;
}

.banner-right img {
    width: 100%;
}

.btn-contact {
    background: linear-gradient(268.64deg, #00B7F1 3.82%, rgba(0, 96, 241, 0) 216.42%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.14));
    border-radius: 20px 0px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 110.8%;
    padding: 14px 30px;
    margin-top: 43px;
}

.btn-contact:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.btn-call {
    background: #F09711;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 110.8%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btn-call:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.yellow-call {
    text-align: right;
    margin-bottom: 50px;
}

.phone-number {
    padding-right: 20px;
    padding-left: 20px;
}

.lion {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.main-banner {
    position: relative;
    z-index: 999;
}

.service {
    background-image: url('../images/service-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 111px;
}

.service-title {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #14478E;
}

.service-content {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    color: #000000;
}

.service-text {
    text-align: center;
    padding-top: 67px;
}

.register-btn {
    text-align: center;
}

.register-btn-green a {
    background: #9FC766 !important;
}

.register-btn a {
    background: #0C98E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 20px 0px;
    padding: 20px 46px;
    font-weight: 700;
    font-size: 16px;
    line-height: 110.8%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.register-btn a:hover {
    text-decoration: none;
}

.basic-package {
    background: #FFFFFF;
    border-radius: 37px;
    padding: 33px 18px;
}

.out-basic-package {
    padding-top: 160px;
}

.package-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0C98E1;
    text-align: center;
    margin-bottom: 17px;
}

.package-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #F09711;
    text-align: center;
}

.package-price-value {
    font-size: 26px;
}

.description-list {
    padding-left: 10px;
}

.mb-0 {
    margin-bottom: 0;
}

.package-price {
    margin-bottom: 25px;
}

.package-description {
    margin-bottom: 40px;
}

.premium-package {
    background-color: #0C98E1;
    color: #FFFFFF;
    padding: 35px 30px;
    border-radius: 30px;
}

.premium-icon {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 50%;
    width: 105px;
    margin: 0 auto 25px auto;
}

.title-package {
    font-size: 26px;
}

.premium-package-name {
    font-size: 34px;
    margin-bottom: 17px;
}

.premium-package-name,
.title-package {
    font-weight: 700;
    line-height: 113.8%;
    text-align: center;
    color: #FFFFFF;
}

.premium-description-list {
    padding-left: 20px;
}

.premium-package-description {
    margin-bottom: 50px;
}

.out-premium-package {
    padding: 93px 27px 0px 27px;
}

.contact-section {
    background-image: url('../images/business.png');
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #00A8FF;
    padding-top: 50px;
}

.contact-content {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 61px;
}

.contact-text {
    text-align: center;
}

.form-control-custom {
    border-radius: 0px;
    margin-bottom: 16px;
    padding: 18px;
}

.btn-send-contact {
    margin-top: 48px;
}

.footer-section {
    background: #04042A;
}

.company-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #DDE5EF;
}

.footer-section {
    padding-top: 61px;
    padding-bottom: 61px;
}

.company-info-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3580C0;
    margin-top: 13px;
    display: flex;
}

.company-info-icon {
    margin-right: 10px;
}

.company-info-dk {
    padding-left: 12px;
}

.navbar-toggle .icon-bar {
    background: #01B8F2;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
}

.navbar-brand {
    float: none;
}

.navbar-brand > img {
    margin: 0 auto;
    padding-right: 70px;
}

.navbar-toggle {
    float: left;
}

.navbar-toggle {
    margin-top: 30px;
}

.sv-title {
    border-bottom: 2px solid #0C98E1;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.sv-title p {
    position: absolute;
    bottom: -5px;
    background: white;
    padding: 5px 15px;
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    left: 38%;
    text-transform: uppercase;
    color: #14478E;
}

.mt-10 {
    margin-top: 10px;
}
